# Data Science Take Home Test

## Initialization

Import libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import time
start_time = time.time()

Load data

In [4]:
df_mes = pd.read_csv('I:\Javier Resano\Curriculum\Caso Carto\yellow_tripdata_2017-11.csv', sep=',')

## Data Exploration and Cleaning

In [5]:
df_mes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284803 entries, 0 to 9284802
Data columns (total 17 columns):
VendorID                 int64
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          int64
trip_distance            float64
RatecodeID               int64
store_and_fwd_flag       object
PULocationID             int64
DOLocationID             int64
payment_type             int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtypes: float64(8), int64(6), object(3)
memory usage: 1.2+ GB

**To note:**
-  "tpep_pickup_datetime" and "tpep_dropoff_datetime" should be datetime
- PULocationID, DOLocationID, payment_type, RateCodeID are really numeric codes. I'll transform them to strings

In [6]:
df_mes['tpep_pickup_datetime'] = pd.to_datetime(df_mes['tpep_pickup_datetime'])
df_mes['tpep_dropoff_datetime'] = pd.to_datetime(df_mes['tpep_dropoff_datetime'])
df_mes['PULocationID'] = df_mes['PULocationID'].astype(str)
df_mes['DOLocationID'] = df_mes['DOLocationID'].astype(str)
df_mes['payment_type'] = df_mes['payment_type'].astype(str)
df_mes['RatecodeID'] = df_mes['RatecodeID'].astype(str)
df_mes['VendorID'] = df_mes['VendorID'].astype(str)

In [7]:
with pd.option_context('float_format', '{:.2f}'.format): print(df_mes.describe()) #10.294.628 cases

       passenger_count  trip_distance  fare_amount      extra    mta_tax  \
count       9284803.00     9284803.00   9284803.00 9284803.00 9284803.00
mean              1.61           2.90        13.14       0.32       0.50
std               1.26           3.73       129.61       0.45       0.06
min               0.00           0.00      -499.00     -48.64      -0.50
25%               1.00           0.97         6.50       0.00       0.50
50%               1.00           1.60         9.50       0.00       0.50
75%               2.00           3.00        15.00       0.50       0.50
max             192.00         702.50    393221.50      69.80      96.00

       tip_amount  tolls_amount  improvement_surcharge  total_amount
count  9284803.00    9284803.00             9284803.00    9284803.00
mean         1.89          0.34                   0.30         16.49
std          2.62          1.98                   0.01        129.89
min       -112.00        -14.75                  -0.30       -499.30
25%          0.00          0.00                   0.30          8.75
50%          1.40          0.00                   0.30         12.00
75%          2.46          0.00                   0.30         17.90
max        450.00       1018.95                   1.00     393222.32

** Findings. Data issues: **
- trip_distance sometimes is 0 (no travel?)
- fare_amount sometimes contains negative numbers
- extra sometimes contains negative numbers. Max value is strange too. Does not seem to match Data Dictionary explanation (only 0.5 or 1 charges)
- mta_tax sometimes contains negative numbers. Max value is strange too. Does not seem to match Data Dictionary explanation (only 0.5 charges)
- total_amount sometimes contains negative numbers
- tip_amount sometimes contains negative numbers
- tolls_amount sometimes contains negative numbers
- improvement_surcharge sometimes contains negative numbers. Max value is strange too. Does not seem to match Data Dictionary explanation (only 0.3 charges)

Since we have a lot of data, I will remove wrong data. <br>
Initial number of rows:

In [8]:
df_mes.shape[0]

9284803

In [9]:
df_mes = df_mes[df_mes['trip_distance']>0]
df_mes.shape[0]

9224250

In [10]:
df_mes = df_mes[df_mes['fare_amount']>0]
df_mes.shape[0]

9219351

In [11]:
df_mes = df_mes[df_mes['extra']>=0]
df_mes.shape[0]

9219344

In [12]:
df_mes = df_mes[df_mes['mta_tax']>=0]
df_mes.shape[0]

9219344

In [13]:
df_mes = df_mes[df_mes['total_amount']>=0]
df_mes.shape[0]

9219344

In [14]:
df_mes = df_mes[df_mes['tip_amount']>=0]
df_mes.shape[0]

9219344

In [15]:
df_mes = df_mes[df_mes['tolls_amount']>=0]
df_mes.shape[0]

9219344

In [16]:
df_mes = df_mes[df_mes['improvement_surcharge']>=0]
df_mes.shape[0]

9219344

Now, I'll check and delete strange cases:

In [17]:
df_mes[(df_mes['improvement_surcharge']!=0.3)].shape[0]

501

In [18]:
df_mes = df_mes[df_mes['improvement_surcharge']==0.3]
df_mes.shape[0]

9218843

In [19]:
df_mes[(df_mes['mta_tax']!=0.5)&(df_mes['mta_tax']!=0)].shape[0]

0

In [20]:
df_mes[(df_mes['extra']!=0)&(df_mes['extra']!=0.5)&(df_mes['extra']!=1)&(df_mes['extra']!=1.5)].shape[0]

35442

In [21]:
df_mes[(df_mes['extra']!=0)&(df_mes['extra']!=0.5)&(df_mes['extra']!=1)&(df_mes['extra']!=1.5)].extra.unique()

array([4.50e+00, 6.98e+01, 6.42e+01, 2.00e-02, 1.01e+00, 6.00e-01,
       3.00e-01, 6.52e+00, 4.54e+00, 4.04e+01, 2.00e+00, 3.00e+00,
       3.50e+00, 7.50e-01, 8.00e-01])

In [22]:
df_mes = df_mes[(df_mes['extra']==0)|(df_mes['extra']==0.5)|(df_mes['extra']==1)|(df_mes['extra']==1.5)]
df_mes.shape[0]

9183401

All in all we have gone from 10294628 to 10180582 rows. We are keeping 98.9% of the initial dataset

### Feature Engineering
In order to improve dataset quality, I am going to create some new features based on the existing ones

1. Travel time

In [23]:
df_mes['travel_time'] = df_mes['tpep_dropoff_datetime'] - df_mes['tpep_pickup_datetime']
df_mes['travel_time'] = df_mes['travel_time'].dt.total_seconds()

2. Average speed

In [24]:
df_mes['average_speed'] = df_mes['trip_distance'] / df_mes['travel_time'] *3600

3. Hour of the day

In [25]:
df_mes['tpep_pickup_hour'] = pd.DatetimeIndex(df_mes['tpep_pickup_datetime']).hour
df_mes['tpep_dropoff_hour'] = pd.DatetimeIndex(df_mes['tpep_dropoff_datetime']).hour

4. Day of the week

In [26]:
df_mes['tpep_pickup_weekday'] = pd.DatetimeIndex(df_mes['tpep_pickup_datetime']).weekday
df_mes['tpep_dropoff_weekday'] = pd.DatetimeIndex(df_mes['tpep_dropoff_datetime']).weekday

And we check their values:

In [27]:
with pd.option_context('float_format', '{:.2f}'.format): print(df_mes.loc[:,['travel_time','average_speed']].describe()) #10.294.628 cases

       travel_time  average_speed
count   9183401.00     9183401.00
mean       1055.00            inf
std       15473.05            nan
min       -3551.00        -257.69
25%         413.00           6.89
50%         694.00           9.47
75%        1140.00          13.08
max    45466304.00            inf

Some new issues with data arise:
- There are some negative travel_time values
- "average_speed == inf" happens when travel_time is 0. Which mean there was no trip
- Very high average speeds (> 100 mph) also are a mark of wrong data

In [28]:
df_mes[(df_mes['average_speed'] == np.inf) | (df_mes['average_speed'] > 100)]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,travel_time,average_speed,tpep_pickup_hour,tpep_dropoff_hour,tpep_pickup_weekday,tpep_dropoff_weekday
168,1,2017-11-01 00:30:50,2017-11-01 00:31:44,1,5.00,5,N,265,265,1,...,30.00,0.00,0.3,90.30,54.0,3.333333e+02,0,0,2,2
794,2,2017-11-01 00:12:08,2017-11-01 00:12:12,1,0.22,5,N,264,260,1,...,8.82,0.00,0.3,44.12,4.0,1.980000e+02,0,0,2,2
857,2,2017-11-01 00:09:46,2017-11-01 00:09:49,1,1.17,1,N,264,246,1,...,1.46,0.00,0.3,8.76,3.0,1.404000e+03,0,0,2,2
1202,1,2017-11-01 00:05:23,2017-11-01 00:05:41,1,3.30,1,N,90,90,2,...,0.00,0.00,0.3,3.80,18.0,6.600000e+02,0,0,2,2
1454,1,2017-11-01 00:15:29,2017-11-01 00:16:11,1,4.60,5,N,265,265,1,...,9.15,10.50,0.3,54.95,42.0,3.942857e+02,0,0,2,2
3401,1,2017-11-01 00:01:22,2017-11-01 00:01:24,1,1.30,5,N,100,100,1,...,1.75,0.00,0.3,10.55,2.0,2.340000e+03,0,0,2,2
4120,1,2017-11-01 00:40:30,2017-11-01 00:40:52,1,0.90,5,N,49,49,1,...,2.00,0.00,0.3,29.00,22.0,1.472727e+02,0,0,2,2
6072,1,2017-11-01 00:29:17,2017-11-01 00:29:42,2,16.30,5,N,265,265,1,...,16.05,0.00,0.3,96.35,25.0,2.347200e+03,0,0,2,2
6518,1,2017-11-01 00:13:24,2017-11-01 00:13:53,1,16.80,5,N,265,265,1,...,10.00,0.00,0.3,138.30,29.0,2.085517e+03,0,0,2,2
7663,1,2017-11-01 00:30:51,2017-11-01 00:31:09,1,16.10,2,N,238,238,1,...,11.70,5.76,0.3,70.26,18.0,3.220000e+03,0,0,2,2
7905,1,2017-11-01 00:02:17,2017-11-01 00:02:26,1,0.90,1,N,114,114,3,...,0.00,0.00,0.3,3.80,9.0,3.600000e+02,0,0,2,2
8443,1,2017-11-01 00:15:52,2017-11-01 00:16:15,1,4.10,1,N,137,137,3,...,0.00,0.00,0.3,3.80,23.0,6.417391e+02,0,0,2,2
8977,1,2017-11-01 00:18:09,2017-11-01 00:18:53,2,6.40,5,N,48,48,1,...,13.05,0.00,0.3,78.35,44.0,5.236364e+02,0,0,2,2
9207,1,2017-11-01 00:36:50,2017-11-01 00:38:08,1,48.40,5,N,265,265,1,...,0.00,23.00,0.3,187.30,78.0,2.233846e+03,0,0,2,2
9615,1,2017-11-01 01:01:30,2017-11-01 01:02:43,1,2.90,1,N,145,145,2,...,0.00,0.00,0.3,4.30,73.0,1.430137e+02,1,1,2,2
10341,1,2017-11-01 01:16:47,2017-11-01 01:18:06,1,7.90,1,N,114,114,2,...,0.00,0.00,0.3,4.30,79.0,3.600000e+02,1,1,2,2
11895,1,2017-11-01 01:46:45,2017-11-01 01:46:52,1,0.60,1,N,170,170,1,...,21.20,0.00,0.3,25.00,7.0,3.085714e+02,1,1,2,2
12506,1,2017-11-01 01:02:59,2017-11-01 01:03:02,1,0.80,1,N,162,162,2,...,0.00,0.00,0.3,3.80,3.0,9.600000e+02,1,1,2,2
13261,1,2017-11-01 01:13:41,2017-11-01 01:14:29,1,3.00,5,N,249,249,1,...,0.00,0.00,0.3,30.30,48.0,2.250000e+02,1,1,2,2
13363,1,2017-11-01 01:56:15,2017-11-01 01:56:37,1,5.50,5,N,265,265,1,...,5.00,0.00,0.3,55.30,22.0,9.000000e+02,1,1,2,2
14168,1,2017-11-01 01:09:55,2017-11-01 01:10:19,1,16.10,5,N,29,29,1,...,0.00,0.00,0.3,10.30,24.0,2.415000e+03,1,1,2,2
14188,1,2017-11-01 01:16:15,2017-11-01 01:16:21,1,2.50,1,N,88,88,3,...,0.00,0.00,0.3,3.80,6.0,1.500000e+03,1,1,2,2
14880,1,2017-11-01 01:14:16,2017-11-01 01:14:51,1,1.40,5,N,75,75,1,...,0.00,0.00,0.3,60.30,35.0,1.440000e+02,1,1,2,2
16279,2,2017-11-01 01:12:15,2017-11-01 01:12:30,1,0.82,1,N,164,164,1,...,1.36,0.00,0.3,8.16,15.0,1.968000e+02,1,1,2,2
17203,2,2017-11-01 02:13:20,2017-11-01 02:13:23,4,0.14,5,N,79,107,1,...,4.06,0.00,0.3,24.36,3.0,1.680000e+02,2,2,2,2
18455,1,2017-11-01 02:09:51,2017-11-01 02:10:15,1,2.60,1,N,148,148,2,...,0.00,0.00,0.3,3.80,24.0,3.900000e+02,2,2,2,2
19632,1,2017-11-01 02:36:17,2017-11-01 02:37:39,1,7.10,1,N,231,211,2,...,0.00,0.00,0.3,4.30,82.0,3.117073e+02,2,2,2,2
19818,1,2017-11-01 02:54:32,2017-11-01 02:54:47,1,1.60,5,N,90,90,1,...,0.00,0.00,0.3,15.30,15.0,3.840000e+02,2,2,2,2
21418,1,2017-11-01 02:29:09,2017-11-01 02:29:39,5,1.70,1,N,79,79,3,...,0.00,0.00,0.3,3.80,30.0,2.040000e+02,2,2,2,2
21761,1,2017-11-01 03:27:22,2017-11-01 03:27:24,1,1.30,1,N,68,68,1,...,0.75,0.00,0.3,4.55,2.0,2.340000e+03,3,3,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9262276,1,2017-11-30 22:11:40,2017-11-30 22:12:23,1,2.20,1,N,79,79,3,...,0.00,0.00,0.3,2.80,43.0,1.841860e+02,22,22,3,3
9263539,2,2017-11-30 23:22:11,2017-11-30 23:22:11,1,2.33,1,N,100,161,2,...,0.00,0.00,0.3,34.30,0.0,inf,23,23,3,3
9263564,1,2017-11-30 22:12:12,2017-11-30 22:12:39,1,1.10,1,N,229,229,2,...,0.00,0.00,0.3,3.80,27.0,1.466667e+02,22,22,3,3
9264157,1,2017-11-30 22:20:55,2017-11-30 22:20:59,1,0.60,1,N,125,125,3,...,0.00,0.00,0.3,3.80,4.0,5.400000e+02,22,22,3,3
9264158,1,2017-11-30 22:23:09,2017-11-30 22:23:17,1,0.60,1,N,158,158,3,...,0.00,0.00,0.3,3.80,8.0,2.700000e+02,22,22,3,3
9264319,1,2017-11-30 22:37:14,2017-11-30 22:37:35,1,1.90,5,N,249,249,1,...,1.80,0.00,0.3,12.10,21.0,3.257143e+02,22,22,3,3
9266787,1,2017-11-30 23:30:11,2017-11-30 23:30:24,1,1.30,1,N,265,265,1,...,126.00,0.00,0.3,129.80,13.0,3.600000e+02,23,23,3,3
9266817,1,2017-11-30 23:32:25,2017-11-30 23:33:10,1,1.30,1,N,230,230,3,...,0.00,0.00,0.3,3.80,45.0,1.040000e+02,23,23,3,3
9267359,2,2017-12-01 00:12:42,2017-12-01 00:12:42,1,4.31,1,N,25,61,2,...,0.00,0.00,0.3,16.80,0.0,inf,0,0,4,4
9267926,2,2017-11-30 00:06:01,2017-11-30 00:06:01,1,7.54,1,N,161,45,2,...,0.00,0.00,0.3,26.30,0.0,inf,0,0,3,3
9268226,1,2017-11-30 23:12:25,2017-11-30 23:12:47,1,2.40,1,N,144,144,3,...,0.00,0.00,0.3,3.80,22.0,3.927273e+02,23,23,3,3
9269177,1,2017-11-30 23:34:17,2017-11-30 23:34:26,1,0.80,1,N,162,162,3,...,0.00,0.00,0.3,3.80,9.0,3.200000e+02,23,23,3,3
9271384,2,2017-11-30 00:11:41,2017-11-30 00:11:56,1,12.21,1,N,161,50,2,...,0.00,5.76,0.3,47.06,15.0,2.930400e+03,0,0,3,3
9271559,1,2017-11-30 23:20:34,2017-11-30 23:21:07,2,3.00,5,N,265,265,1,...,0.00,0.00,0.3,60.30,33.0,3.272727e+02,23,23,3,3
9271565,1,2017-11-30 23:49:50,2017-11-30 23:50:04,1,19.20,2,N,249,249,1,...,6.00,5.76,0.3,64.56,14.0,4.937143e+03,23,23,3,3
9273628,2,2017-11-30 23:49:43,2017-11-30 23:50:03,1,2.35,1,N,229,229,1,...,1.20,0.00,0.3,11.00,20.0,4.230000e+02,23,23,3,3
9274929,2,2017-12-01 00:19:44,2017-12-01 00:19:44,1,9.38,1,N,237,95,1,...,6.36,0.00,0.3,38.16,0.0,inf,0,0,4,4
9275192,2,2017-12-01 00:21:11,2017-12-01 00:21:11,1,7.52,1,N,79,61,1,...,5.56,0.00,0.3,33.36,0.0,inf,0,0,4,4
9275551,1,2017-11-30 23:20:29,2017-11-30 23:20:49,1,5.10,5,N,265,265,1,...,13.85,0.00,0.3,83.15,20.0,9.180000e+02,23,23,3,3
9276280,1,2017-11-30 23:41:46,2017-11-30 23:41:51,1,21.20,2,N,265,265,1,...,0.00,0.00,0.3,52.80,5.0,1.526400e+04,23,23,3,3
9276281,1,2017-11-30 23:43:40,2017-11-30 23:43:47,1,21.20,2,N,265,265,1,...,0.00,0.00,0.3,52.80,7.0,1.090286e+04,23,23,3,3
9277088,1,2017-11-30 23:54:20,2017-11-30 23:55:10,0,2.60,1,N,75,75,2,...,0.00,0.00,0.3,3.80,50.0,1.872000e+02,23,23,3,3
9277570,1,2017-11-30 23:15:33,2017-11-30 23:15:56,1,1.40,5,N,265,265,1,...,12.05,0.00,0.3,72.35,23.0,2.191304e+02,23,23,3,3
9278133,1,2017-11-30 23:10:36,2017-11-30 23:10:40,2,0.90,1,N,170,170,2,...,0.00,0.00,0.3,3.80,4.0,8.100000e+02,23,23,3,3
9278135,1,2017-11-30 23:54:20,2017-11-30 23:54:41,2,21.80,5,Y,265,265,2,...,0.00,0.00,0.3,100.00,21.0,3.737143e+03,23,23,3,3
9278539,1,2017-11-30 23:12:22,2017-11-30 23:12:47,6,1.40,1,N,264,264,3,...,0.00,0.00,0.3,3.80,25.0,2.016000e+02,23,23,3,3
9278557,1,2017-11-30 23:06:38,2017-11-30 23:06:40,1,1.10,1,N,48,48,2,...,0.00,0.00,0.3,10.30,2.0,1.980000e+03,23,23,3,3
9279842,1,2017-11-30 23:36:17,2017-11-30 23:36:47,1,23.90,1,Y,265,265,4,...,0.00,0.00,0.3,3.80,30.0,2.868000e+03,23,23,3,3
9279843,1,2017-11-30 23:37:29,2017-11-30 23:37:57,1,23.90,5,Y,265,265,2,...,0.00,0.00,0.3,91.30,28.0,3.072857e+03,23,23,3,3
9283107,2,2017-12-01 00:27:34,2017-12-01 00:27:34,3,6.82,1,N,68,54,1,...,6.21,5.76,0.3,37.27,0.0,inf,0,0,4,4

In [29]:
df_mes = df_mes[(df_mes['average_speed'] != np.inf) & (df_mes['average_speed'] < 100)]
df_mes.shape[0]

9175545

In [30]:
#I convert Timedelta value to float (number of seconds of the trip)
df_mes['travel_time'] = df_mes['travel_time'].astype('timedelta64[s]').dt.total_seconds()

In [31]:
df_mes[df_mes['travel_time'] < 0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,travel_time,average_speed,tpep_pickup_hour,tpep_dropoff_hour,tpep_pickup_weekday,tpep_dropoff_weekday
1383804,1,2017-11-05 01:54:17,2017-11-05 01:22:16,1,5.7,1,N,79,61,1,...,4.75,0.00,0.3,28.55,-1921.0,-10.681936,1,1,6,6
1383813,1,2017-11-05 01:48:35,2017-11-05 01:02:50,1,2.4,1,N,249,162,1,...,1.00,0.00,0.3,13.80,-2745.0,-3.147541,1,1,6,6
1383844,1,2017-11-05 01:59:21,2017-11-05 01:02:24,2,0.3,1,N,236,236,2,...,0.00,0.00,0.3,5.30,-3417.0,-0.316067,1,1,6,6
1383858,1,2017-11-05 01:55:30,2017-11-05 01:03:32,1,1.7,1,N,24,116,1,...,1.85,0.00,0.3,11.15,-3118.0,-1.962797,1,1,6,6
1383865,1,2017-11-05 01:51:17,2017-11-05 01:02:42,2,1.4,1,N,158,79,1,...,1.00,0.00,0.3,11.30,-2915.0,-1.728988,1,1,6,6
1383899,1,2017-11-05 01:37:43,2017-11-05 01:05:01,1,5.2,1,N,148,145,1,...,4.35,0.00,0.3,26.15,-1962.0,-9.541284,1,1,6,6
1383904,1,2017-11-05 01:58:58,2017-11-05 01:02:35,1,0.3,1,N,264,264,1,...,1.05,0.00,0.3,6.35,-3383.0,-0.319243,1,1,6,6
1383925,1,2017-11-05 01:52:49,2017-11-05 01:05:34,1,3.4,1,N,234,143,1,...,2.75,0.00,0.3,16.55,-2835.0,-4.317460,1,1,6,6
1383932,1,2017-11-05 01:57:20,2017-11-05 01:30:19,1,5.5,1,N,79,61,1,...,60.00,0.00,0.3,85.30,-1621.0,-12.214682,1,1,6,6
1383936,1,2017-11-05 01:58:31,2017-11-05 01:10:34,1,2.1,1,N,234,48,1,...,2.00,0.00,0.3,13.30,-2877.0,-2.627737,1,1,6,6
1383954,1,2017-11-05 01:49:24,2017-11-05 01:07:16,1,3.3,1,N,144,68,2,...,0.00,0.00,0.3,15.30,-2528.0,-4.699367,1,1,6,6
1383958,1,2017-11-05 01:57:33,2017-11-05 01:14:37,3,2.7,1,N,65,181,1,...,3.70,0.00,0.3,18.50,-2576.0,-3.773292,1,1,6,6
1383973,1,2017-11-05 01:55:12,2017-11-05 01:02:35,2,1.1,1,N,107,114,1,...,1.00,0.00,0.3,8.80,-3157.0,-1.254355,1,1,6,6
1383975,1,2017-11-05 01:38:53,2017-11-05 01:06:00,2,4.6,1,N,148,49,1,...,4.36,0.00,0.3,26.16,-1973.0,-8.393310,1,1,6,6
1383989,1,2017-11-05 01:59:35,2017-11-05 01:11:26,1,2.6,1,N,90,229,1,...,1.00,0.00,0.3,13.30,-2889.0,-3.239875,1,1,6,6
1383995,1,2017-11-05 01:47:57,2017-11-05 01:08:34,4,2.6,1,N,148,90,1,...,0.00,0.00,0.3,15.30,-2363.0,-3.961066,1,1,6,6
1384007,1,2017-11-05 01:38:17,2017-11-05 01:07:53,1,5.5,1,N,234,36,1,...,4.75,0.00,0.3,28.55,-1824.0,-10.855263,1,1,6,6
1384011,1,2017-11-05 01:54:53,2017-11-05 01:03:40,2,2.8,1,N,68,143,1,...,2.80,0.00,0.3,14.10,-3073.0,-3.280182,1,1,6,6
1384020,1,2017-11-05 01:53:25,2017-11-05 01:27:17,2,4.7,1,N,249,255,1,...,6.20,0.00,0.3,31.00,-1568.0,-10.790816,1,1,6,6
1384023,1,2017-11-05 01:59:55,2017-11-05 01:28:38,1,6.5,1,Y,186,260,2,...,0.00,0.00,0.3,24.80,-1877.0,-12.466702,1,1,6,6
1384032,1,2017-11-05 01:27:50,2017-11-05 01:09:22,2,15.7,1,N,140,14,2,...,0.00,0.00,0.3,48.30,-1108.0,-51.010830,1,1,6,6
1384043,1,2017-11-05 01:58:22,2017-11-05 01:07:05,2,2.7,1,N,144,181,1,...,2.35,0.00,0.3,14.15,-3077.0,-3.158921,1,1,6,6
1384054,1,2017-11-05 01:46:07,2017-11-05 01:08:27,2,3.0,1,N,229,112,1,...,3.25,0.00,0.3,19.55,-2260.0,-4.778761,1,1,6,6
1384057,1,2017-11-05 01:51:28,2017-11-05 01:11:22,2,3.9,1,N,79,50,1,...,3.35,0.00,0.3,20.15,-2406.0,-5.835411,1,1,6,6
1384060,1,2017-11-05 01:43:57,2017-11-05 01:08:41,1,4.5,1,N,137,226,2,...,0.00,0.00,0.3,19.80,-2116.0,-7.655955,1,1,6,6
1384070,1,2017-11-05 01:55:08,2017-11-05 01:05:18,2,2.0,1,N,68,137,1,...,2.05,0.00,0.3,12.35,-2990.0,-2.408027,1,1,6,6
1384092,1,2017-11-05 01:49:38,2017-11-05 01:11:27,2,4.5,1,N,249,236,1,...,3.47,0.00,0.3,22.77,-2291.0,-7.071148,1,1,6,6
1384098,1,2017-11-05 01:45:48,2017-11-05 01:06:56,1,6.1,1,N,48,42,1,...,4.35,0.00,0.3,26.15,-2332.0,-9.416810,1,1,6,6
1384103,1,2017-11-05 01:45:34,2017-11-05 01:22:32,2,7.8,1,N,164,102,2,...,0.00,5.76,0.3,36.06,-1382.0,-20.318379,1,1,6,6
1384113,1,2017-11-05 01:48:14,2017-11-05 01:01:16,1,1.3,1,N,249,148,1,...,0.00,0.00,0.3,10.80,-2818.0,-1.660752,1,1,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1412354,1,2017-11-05 01:48:10,2017-11-05 01:09:36,1,3.3,1,N,231,48,2,...,0.00,0.00,0.3,16.80,-2314.0,-5.133967,1,1,6,6
1412357,1,2017-11-05 01:55:56,2017-11-05 01:15:48,1,4.1,1,N,262,186,1,...,3.55,0.00,0.3,21.35,-2408.0,-6.129568,1,1,6,6
1412367,1,2017-11-05 01:49:41,2017-11-05 01:13:56,1,5.5,1,N,79,239,1,...,4.25,0.00,0.3,25.55,-2145.0,-9.230769,1,1,6,6
1412370,1,2017-11-05 01:34:01,2017-11-05 01:13:31,1,16.6,1,N,114,265,1,...,8.00,2.64,0.3,59.44,-1230.0,-48.585366,1,1,6,6
1412392,1,2017-11-05 01:54:34,2017-11-05 01:19:59,3,8.3,1,N,79,41,1,...,5.65,0.00,0.3,33.95,-2075.0,-14.400000,1,1,6,6
1412420,1,2017-11-05 01:32:44,2017-11-05 01:03:49,4,8.1,1,N,211,74,1,...,2.00,0.00,0.3,25.80,-1735.0,-16.806916,1,1,6,6
1412459,1,2017-11-05 01:57:16,2017-11-05 01:01:46,2,0.6,1,N,144,148,1,...,1.25,0.00,0.3,7.55,-3330.0,-0.648649,1,1,6,6
1412485,1,2017-11-05 01:54:20,2017-11-05 01:12:46,1,9.9,1,N,45,14,1,...,5.85,0.00,0.3,35.15,-2494.0,-14.290297,1,1,6,6
1412503,1,2017-11-05 01:52:36,2017-11-05 01:09:44,1,1.3,1,N,249,148,2,...,0.00,0.00,0.3,13.30,-2572.0,-1.819596,1,1,6,6
1412505,1,2017-11-05 01:31:31,2017-11-05 01:07:21,1,14.6,1,N,161,174,1,...,2.00,2.64,0.3,49.44,-1450.0,-36.248276,1,1,6,6
1412515,1,2017-11-05 01:47:09,2017-11-05 01:02:33,3,2.6,1,N,231,90,1,...,2.00,0.00,0.3,15.30,-2676.0,-3.497758,1,1,6,6
1412520,1,2017-11-05 01:55:37,2017-11-05 01:05:29,1,2.2,1,N,79,170,1,...,2.05,0.00,0.3,12.35,-3008.0,-2.632979,1,1,6,6
1412536,1,2017-11-05 01:57:33,2017-11-05 01:19:55,1,4.9,1,N,24,235,2,...,0.00,0.00,0.3,19.80,-2258.0,-7.812223,1,1,6,6
1412557,1,2017-11-05 01:40:06,2017-11-05 01:00:41,1,3.5,1,N,79,80,2,...,0.00,0.00,0.3,17.80,-2365.0,-5.327696,1,1,6,6
1412584,1,2017-11-05 01:55:28,2017-11-05 01:01:57,3,1.4,1,N,4,224,1,...,1.00,0.00,0.3,9.30,-3211.0,-1.569604,1,1,6,6
1412591,1,2017-11-05 01:50:31,2017-11-05 01:29:19,2,8.9,1,N,114,141,1,...,6.55,0.00,0.3,39.35,-1272.0,-25.188679,1,1,6,6
1412594,1,2017-11-05 01:56:07,2017-11-05 01:04:22,3,0.9,1,N,100,230,1,...,1.65,0.00,0.3,9.95,-3105.0,-1.043478,1,1,6,6
1412619,1,2017-11-05 01:41:27,2017-11-05 01:14:37,1,6.6,1,N,7,151,1,...,5.36,0.00,0.3,32.16,-1610.0,-14.757764,1,1,6,6
1412623,1,2017-11-05 01:50:20,2017-11-05 01:25:07,1,10.1,1,N,164,228,1,...,6.85,0.00,0.3,41.15,-1513.0,-24.031725,1,1,6,6
1412625,1,2017-11-05 01:50:51,2017-11-05 01:16:22,2,1.5,1,N,114,79,3,...,0.00,0.00,0.3,17.30,-2069.0,-2.609957,1,1,6,6
1412645,1,2017-11-05 01:27:41,2017-11-05 01:14:12,1,19.6,1,N,186,134,1,...,10.00,5.76,0.3,74.06,-809.0,-87.218789,1,1,6,6
1412684,1,2017-11-05 01:51:22,2017-11-05 01:05:01,2,2.3,1,N,114,162,1,...,2.45,0.00,0.3,14.75,-2781.0,-2.977346,1,1,6,6
1412692,1,2017-11-05 01:58:08,2017-11-05 01:08:39,1,2.7,1,N,68,13,1,...,2.35,0.00,0.3,14.15,-2969.0,-3.273830,1,1,6,6
1412698,1,2017-11-05 01:52:20,2017-11-05 01:01:57,4,1.6,1,N,249,231,1,...,1.95,0.00,0.3,11.75,-3023.0,-1.905392,1,1,6,6
1412722,1,2017-11-05 01:50:31,2017-11-05 01:23:23,2,7.1,1,N,162,33,1,...,5.55,0.00,0.3,33.35,-1628.0,-15.700246,1,1,6,6
1412740,1,2017-11-05 01:44:10,2017-11-05 01:06:07,1,1.8,1,N,107,148,1,...,1.00,0.00,0.3,16.80,-2283.0,-2.838371,1,1,6,6
1412749,1,2017-11-05 01:46:29,2017-11-05 01:02:02,1,1.2,1,N,79,232,1,...,3.50,0.00,0.3,15.30,-2667.0,-1.619798,1,1,6,6
1412785,1,2017-11-05 01:55:13,2017-11-05 01:02:30,1,1.1,1,N,68,246,1,...,1.65,0.00,0.3,9.95,-3163.0,-1.251976,1,1,6,6
1412808,1,2017-11-05 01:57:35,2017-11-05 01:01:58,2,0.8,1,N,97,66,2,...,0.00,0.00,0.3,6.30,-3337.0,-0.863051,1,1,6,6
1412871,1,2017-11-05 01:41:45,2017-11-05 01:03:47,4,3.5,1,N,231,170,1,...,1.50,0.00,0.3,18.30,-2278.0,-5.531168,1,1,6,6

In [32]:
df_mes = df_mes[df_mes['travel_time'] > 0]
df_mes.shape[0]

9174132

All in all we have gone from 10294628 to 10171487 rows. We are still keeping **98.8% of the initial dataset**

### Filling out code variables
In order to encode all code variables (i.e. those that take string values, not numeric), and not miss any column if in the dataset a variable doesn't have a certain code, I am adding at the end of the dataframe new rows with all the vaules for these code varibles. I will remove these rows from the dataframe once they are encoded.

In [37]:
print(sorted(df_mes['payment_type'].unique()))

['1', '2', '3', '4']

In [38]:
print(sorted(df_mes['RatecodeID'].unique()))

['1', '2', '3', '4', '5', '6', '99']

In [39]:
df_mes['PULocationID'].unique().shape

(258,)

In [40]:
df_mes[df_mes['PULocationID'].astype('int64') >= 266]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, travel_time, average_speed, tpep_pickup_hour, tpep_dropoff_hour, tpep_pickup_weekday, tpep_dropoff_weekday]
Index: []

[0 rows x 23 columns]

In [41]:
df_mes['DOLocationID'].unique().shape

(262,)

In [42]:
df_mes[df_mes['DOLocationID'].astype('int64') >= 266]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, travel_time, average_speed, tpep_pickup_hour, tpep_dropoff_hour, tpep_pickup_weekday, tpep_dropoff_weekday]
Index: []

[0 rows x 23 columns]

All in all, we see that "payment_type" is mising 2 values (5 & 6), the locations also miss some out of the 265 listed in the document, and "RatecodeID" has an extra one: 99. As it is unknown for us, we wil get rid of the values (we can see there are only few of them)

In [43]:
df_mes[df_mes['RatecodeID'] == '99']

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,travel_time,average_speed,tpep_pickup_hour,tpep_dropoff_hour,tpep_pickup_weekday,tpep_dropoff_weekday
2561193,1,2017-11-08 21:21:51,2017-11-08 21:25:58,1,0.9,99,N,48,48,1,...,1.85,0.0,0.3,8.15,247.0,13.117409,21,21,2,2

In [44]:
df_mes = df_mes[df_mes['RatecodeID'] != '99']

## Model Building

I am importing model created for March

In [45]:
# Due to memory issues, I'll work with a smaller dataset.
df_mes2 = df_mes.sample(n=1000000, random_state=0) #.iloc[0:1000000,:]

In [46]:
shape1 = df_mes2.shape[0]
df2 = pd.DataFrame([['1'], ['2']], columns=(['VendorID']))
df3 = [str(x) for x in range(1,266)]
df3 = pd.DataFrame({'PULocationID':df3, 'DOLocationID':df3})
df4 = pd.DataFrame([['Y'], ['N']], columns=(['store_and_fwd_flag']))
df5 = [str(x) for x in range(1,7)]
df5 = pd.DataFrame({'payment_type':df5, 'RatecodeID':df5})

df_mes2 = df_mes2.append(df2, sort=False, ignore_index=True)
df_mes2 = df_mes2.append(df3, sort=False, ignore_index=True)
df_mes2 = df_mes2.append(df4, sort=False, ignore_index=True)
df_mes2 = df_mes2.append(df5, sort=False, ignore_index=True)

df_mes2.fillna(1, inplace=True) #1 is a value every string column has, so I am not adding new values here

In [47]:
df_mes2 = df_mes2.drop(['tpep_pickup_datetime','tpep_dropoff_datetime'], axis=1)
df_mes2 = pd.get_dummies(df_mes2, drop_first=True)

In [48]:
df_mes2 = df_mes2.head(shape1)

In [49]:
cols = list(df_mes2.columns)
cols.remove('tip_amount')

In [50]:
#Divide the dataset into input variables and output 
# (I get a memory error if I work with the whole set, so I'm reducing it to 1.000.000 rows)
X = df_mes2.loc[0:1000000,cols]
Y = df_mes2.loc[0:1000000,['tip_amount']]

### Model: Linear Regression
We start with a simple model in order to get a baseline to compare the rest

In [51]:
%store -r lin_reg

In [52]:
Y_lin_reg = lin_reg.predict(X)

from sklearn import metrics
print('RMSE:', np.sqrt(metrics.mean_squared_error(Y, Y_lin_reg)))
print('Variance explained: ', metrics.explained_variance_score(Y, Y_lin_reg))

RMSE: 0.07536055230800988
Variance explained:  0.9990635594084737

This model explains 99.8% of the variance, and predicts the tip with a precission of around 9.7 cents (RMSE)

Another test:

In [53]:
start_time = time.time()

In [54]:
df_mes2 = df_mes.iloc[5000000:6000000,:]

shape1 = df_mes2.shape[0]
df2 = pd.DataFrame([['1'], ['2']], columns=(['VendorID']))
df3 = [str(x) for x in range(1,266)]
df3 = pd.DataFrame({'PULocationID':df3, 'DOLocationID':df3})
df4 = pd.DataFrame([['Y'], ['N']], columns=(['store_and_fwd_flag']))
df5 = [str(x) for x in range(1,7)]
df5 = pd.DataFrame({'payment_type':df5, 'RatecodeID':df5})

df_mes2 = df_mes2.append(df2, sort=False, ignore_index=True)
df_mes2 = df_mes2.append(df3, sort=False, ignore_index=True)
df_mes2 = df_mes2.append(df4, sort=False, ignore_index=True)
df_mes2 = df_mes2.append(df5, sort=False, ignore_index=True)

df_mes2.fillna(1, inplace=True) #1 is a value every string column has, so I am not adding new values here

df_mes2 = df_mes2.drop(['tpep_pickup_datetime','tpep_dropoff_datetime'], axis=1)
df_mes2 = pd.get_dummies(df_mes2, drop_first=True)

df_mes2 = df_mes2.head(shape1)

cols = list(df_mes2.columns)
cols.remove('tip_amount')

#Divide the dataset into input variables and output 
# (I get a memory error if I work with the whole set, so I'm reducing it to 1.000.000 rows)
X2 = df_mes2.loc[:,cols]
Y2 = df_mes2.loc[:,['tip_amount']]

In [55]:
Y_lin_reg = lin_reg.predict(X2)

from sklearn import metrics
print('RMSE:', np.sqrt(metrics.mean_squared_error(Y2, Y_lin_reg)))
print('Variance explained: ', metrics.explained_variance_score(Y2, Y_lin_reg))

RMSE: 0.06792136760249438
Variance explained:  0.9992105019510663

In [56]:
print("--- %s seconds ---" % (time.time() - start_time))

--- 22.715147495269775 seconds ---